<h1>OH HI MARK</h1>
<div class="column">

</div>
<div *ngIf="rooms$">
  <div *ngFor="let room of rooms$ | async ">
    <a routerLink="{{room.id}}" *ngIf="room.name === 'Kanapka'" style="padding-left: 100px">
      {{room.name}}
    </a>
    <a routerLink="{{room.id}}" *ngIf="room.name !== 'Kanapka'">
      {{room.name}}
    </a>
  </div>
</div>

<label>
    <input type="text" [formControl]="roomsName">
  <input type="password" [formControl]="roomsPassword">
  <button (click)="createRoom()">SEND</button>
</label>
